    <div>
      <h1><%= @student.name %></h1>
      <table>
        <tr>
          <td rowspan="2">
            <% if @student.image.attached? %>
            <%= image_tag @student.image, class:"profile_image" %>
            <% else %>
            <%= image_tag "/default_user.jpeg", class:"profile_image" %>
            <% end %>
          </td>
          <td class="human_profile">名前</td>
          <td class="human_profile">性別</td>
          <td class="human_profile">年齢</td>
          <td class="human_profile">都道府県</td>
          <td class="human_profile">在籍学校名</td>
          <td class="human_profile">住所</td>
        </tr>
        <tr>
          <td><%= @student.name %></td>
          <% if @student.gender == 1 %>
          <td>男</td>
          <% elsif @student.gender == 2 %>
          <td>女</td>
          <% end %>
          <td><%= @student.age %></td>
          <td><%= @student.prefecture %></td>
          <td>岡崎高校2年</td>
          <td><%= @student.city %></td>
        </tr>
        <tr>
          <% if @student.introduction == nil %>
            <td colspan="7" class="profile">＊自己紹介はありません。</td>
          <% else %>
            <td colspan="7" class="profile">＊自己紹介<br>
            <%= @student.introduction %>
            </td>
          <% end %>  
        </tr>
      </table> 
      
      <div>
        <h4>基本情報</h4>
        <table width=520>
          <tr>
            <td>指導希望科目</td><td><%= @student.subject %></td>
          </tr>
          <tr>
            <td>性格・タイプ</td><td><%= @student.character %></td>
          </tr>
          <tr>
            <td>趣味</td><td><%= @student.hobby %></td>
          </tr>
        </table>  
      </div>
      <div>
        <% if @student_ids.include?(@student.id) %>
          <%= link_to "メッセージへ移動する", teacher_message_path(@message) %>
        <% else %>
          <%= form_with model:[:teacher, Message.new], local: true do |f| %>
            <%= f.hidden_field :student_id, :value => @student.id %>
            <%= f.hidden_field :teacher_id, :value => current_teacher.id %>
            <%= f.submit "メッセージを開始する" %>
          <% end %>
        <% end %>
      </div>
    </div>