    <div style="font-size: 30px; font-weight: 600; padding: 10px 10px 15px 50px;">
      メッセージ
    </div>
    <ul class="massage_ul">
      <% @messages.each do |message| %>
      <li class="massage_li">
        <%= link_to student_message_path(message) do %>
        <button class="massage_button">
          <div style="display:flex;">
            <% if message.teacher.image.attached? %>
              <%= image_tag message.teacher.image, class:"massage_photo" %>
            <% else %>
              <%= image_tag "/default_user.jpeg", class:"massage_photo" %>
            <% end %> 
            <div class="message_div">
              <div class="massage_div_in_div">
                <h5 class="massage_user_name"><%= message.teacher.name %></h5>
                  <time class="message_receive_time"><%= message.comments.last&.created_at&.to_s(:datetime_jp) %></time>
              </div>
              <div>
                <p class="massage_text"><%= message.comments.last&.text %></p>
              </div>
            </div> 
          </div>
        </button>
        <% end %>
      </li>
      <% end %>
    </ul>