    <h2>先生検索</h2>
    <table>
      <%= search_form_for @q, url: student_search_path do |f| %>
        <tr>
          <td class="human_profile"><%= f.label :prefecture_cont, '都道府県' %></td>
          <td><%= f.search_field :prefecture_cont %></td>
        </tr>
        <tr>
          <td class="human_profile"><%= f.label :city_cont, '市町村' %></td>
          <td><%= f.search_field :city_eq %></td>
        </tr>
        <tr>
          <td class="human_profile">性別</td>
          <td>
            <%= f.label :gender, "男性" %>
            <%= f.check_box :gender_eq_any, { multiple: true }, 1, '' %>
            <%= f.label :gender, "女性" %>
            <%= f.check_box :gender_eq_any, { multiple: true }, 2, '' %>
              ※複数選択可能
          </td>
        </tr>
        <tr>
          <td class="human_profile"><%= f.label :hobby, "趣味" %></td>
          <td>
            <%= f.text_field :hobby_eq_any %></br>
            <%= f.text_field :hobby_eq_any %></br>
            <%= f.text_field :hobby_eq_any %></br>
            ※3つまで同時検索可能
          </td>
         </tr>

        <tr>
          <td colspan="2">
            この条件で検索する<%= f.submit '検索' %>
          </td>
        </tr>
      <% end %>       
    </table>

    <h1>先生の一覧</h1>
    <table>
      <tr>
      <% @teachers.each do |teacher| %>
        <td rowspan="2">
        <%= link_to student_teacher_path(teacher.id) do %>  
          <% if teacher.image.attached? %>
          <%= image_tag teacher.image, class:"profile_image" %>
          <% else %>
          <%= image_tag "/default_user.jpeg", class:"profile_image" %>
          <% end %>
        <% end %>          
        </td>
        <td class="human_profile">名前</td>
        <td class="human_profile">性別</td>
        <td class="human_profile">在籍/卒業学校</td>
        <td class="human_profile">都道府県</td>
      </tr>
      <tr>
        <td><%= teacher.name %></td>
        <% if teacher.gender == 1 %>
        <td>男</td>
        <% elsif teacher.gender == 2 %>
        <td>女</td>
        <% end %>
        <td><%= teacher.age %></td>
        <td><%= teacher.prefecture %></td>
      </tr>
      <tr>
        <% if teacher.introduction == nil %>
          <td colspan="5" class="profile">＊自己紹介はありません。</td>
        <% else %>
          <td colspan="5" class="profile"><%= teacher.introduction %></td>
        <% end %>          
      </tr>
      <% end %>
    </table>