    <div>
      <h1><%= @teacher.name %></h1>
      <table>
        <tr>
          <td rowspan="2">
            <% if @teacher.image.attached? %>
            <%= image_tag @teacher.image, class:"profile_image" %>
            <% else %>
            <%= image_tag "/default_user.jpeg", class:"profile_image" %>
            <% end %>
          </td>
          <td class="human_profile">名前</td>
          <td class="human_profile">性別</td>
          <td class="human_profile">年齢</td>
          <td class="human_profile">都道府県</td>
          <td class="human_profile">在籍/卒業学校名</td>
          <td class="human_profile">住所</td>
        </tr>
        <tr>
          <td><%= @teacher.name %></td>
          <% if @teacher.gender == 1 %>
          <td>男</td>
          <% elsif @teacher.gender == 2 %>
          <td>女</td>
          <% end %>
          <td><%= @teacher.age %></td>
          <td><%= @teacher.prefecture %></td>
          <td><%= @teacher.school %></td>
          <td><%= @teacher.city %></td>
        </tr>
        <tr>
          <% if @teacher.introduction == nil %>
            <td colspan="7" class="profile">＊自己紹介はありません。</td>
          <% else %>
            <td colspan="7" class="profile">＊自己紹介<br>
            <%= @teacher.introduction %>
            </td>
          <% end %>  
        </tr>
      </table> 
      
      <div>
        <h4>基本情報</h4>
        <table width=520>
          <% if @teacher.subject.present? %>
            <tr>
              <td>指導可能科目</td><td><%= @teacher.subject %></td>
            </tr>
          <% end %>
          <% if @teacher.character.present? %>
            <tr>
              <td>性格・タイプ</td><td><%= @teacher.character %></td>
            </tr>
          <% end %>
          <% if @teacher.hobby.present? %>
            <tr>
              <td>趣味</td><td><%= @teacher.hobby %></td>
            </tr>          
          <% end %>
        </table>  
      </div>
      <div>
        <% if @teacher_ids.include?(@teacher.id) %>
          <%= link_to "メッセージへ移動する", student_message_path(@message) %>
        <% else %>
          <%= form_with model:[:student, Message.new], local: true do |f| %>
            <%= f.hidden_field :teacher_id, :value => @teacher.id %>
            <%= f.hidden_field :student_id, :value => current_student.id %>
            <%= f.submit "メッセージを開始する" %>
          <% end %>
        <% end %>
        
        <% if current_student.teacher_id != @teacher.id %>
          <%= link_to "担当教師に決定する", edit_student_student_path %>
        <% end %>
      </div>
    </div>