<h1>担当生徒</h1>
<% if @management_students.blank? %>
  <P>担当生徒はいません</P>
<% else %>  
  <div>
    <table>
      <% @management_students.each do |student| %>
          <tr>
            <td rowspan="2">
            <%= link_to teacher_student_path(student.id) do %>  
              <% if student.image.attached? %>
              <%= image_tag student.image, class:"profile_image" %>
              <% else %>
              <%= image_tag "/default_user.jpeg", class:"profile_image" %>
              <% end %>
            <% end %>          
            </td>
            <td class="human_profile">名前</td>
            <td class="human_profile">性別</td>
            <td class="human_profile">年齢</td>
            <td class="human_profile">都道府県</td>
          </tr>
          <tr>
            <td><%= student.name %></td>
            <% if student.gender == 1 %>
            <td>男</td>
            <% elsif student.gender == 2 %>
            <td>女</td>
            <% end %>
            <td><%= student.age %></td>
            <td><%= student.prefecture %></td>
          </tr>
          <tr>
            <% if student.introduction == nil %>
              <td colspan="5" class="profile">＊自己紹介はありません。</td>
            <% else %>
              <td colspan="5" class="profile"><%= student.introduction %></td>
            <% end %>          
          </tr>
        <% end %>  
    </table>    
  </div>
<% end %>