    <%= form_with model: [:student, @inquiry], local: true do |f| %>
    <h1>問い合わせ</h1>
    <div>
        <table>
            <tr>
                <td><%= f.label :title, "タイトル" %></td>
                <td><%= f.text_field :title, class: "inquiry_new_title_form", autocomplete: "off", size: "40" %></td>
            </tr>
            <tr>
                <td><%= f.label :text, "内容" %></td>
                <td><%= f.text_area :text, class: "inquiry_new_text_form", size: "40x5", maxlength: "100" %></td>
            </tr>
            <tr>
                <td style="border-style:none;"><%= f.submit "登録" %></td>
            </tr>
        </table>
    </div>
    <% end %>