<div class="chat">
  <section class="message_name">
    <h2 style="text-align:left;"><%= @message.student.name %></h4>
  </section>
  
  <section class="message_display">
    <% @message.comments.each do |comment| %>
      <div class="<%= comment.sender == "Teacher" ? "chat1 clearfix" : "chat2 clearfix" %>" >
        <% if (comment.sender == "Teacher" ? @message.teacher : @message.student).image.attached? %>
          <%= image_tag (comment.sender == "Teacher" ? @teacher : @student).image, class:"logo" %>
        <% else %>
          <%= image_tag "/default_user.jpeg", class:"logo" %>
        <% end %>
        <div class="comment">
          <p class="messages"><%= comment.text %></p>
          <div class="time-box" style="text-align: right;">
            <time class="time"><%= comment.created_at.to_s(:datetime_jp) %></time>
          </div> 
        </div>
      </div>  
    <% end %>    
  </section>

  <section class="message_input">
    <div class="message_send">
      <%= form_with model:[:teacher, @comment], class:"message_send", local: true do |f| %> 
        <%= f.hidden_field :message_id, :value => @message.id %>
        <%= f.text_area :text, class:"message_text" %>
        <%= f.submit "送信" %>
      <% end %>
    </div>   
  </section>
</div>